:root {
  --red: #951217;
  --bright-red: #ff3037;
  --grey: #45494d;
  --light-grey: #949899;
  --black: #0f0f0f;
}

body {
  margin: 0px;
  height: 100vh;
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
  color: var(--black);
  display: grid;
  grid-template-columns: 1fr 5fr 10px;
  grid-template-rows: 150px 1fr 50px;
}

header {
  font-family: 'Alegreya Sans SC', sans-serif;
  color: var(--bright-red);
  background-color: var(--grey);
  font-size: 2rem;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 10px var(--grey);
  z-index: 1;
}

#search {
  width: 80%;
  align-self: center;
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

#search-input {
  background-color: var(--black);
  color: var(--bright-red);
  height: 3em;
  padding: 1px 0px;
  border: 5px solid var(--black);
  border-left: 0px;
  border-right: 0px;
  width: 100%;
  outline: none;
  z-index: 1;
}

#search:focus-within {
  filter: drop-shadow(0px 0px 10px var(--bright-red));
}

#search-left {
  display: inline-block;
  background-color: transparent;
  border: 25px solid transparent;
  border-left: 0;
  border-right: 70px solid var(--black);
}

#search-right {
  display: inline-block;
  background-color: transparent;
  border: 25px solid transparent;
  border-right: 0;
  border-left: 70px solid var(--black);
}

#sidebar {
  grid-row: 1/4;
  background-color: var(--black);
  box-shadow: 0px 0px 10px black;
  z-index: 1;
  color: var(--light-grey);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 60px) 1fr 60px;
  align-items: center;
}

#sidebar>h2 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 3rem;
  text-align: center;
}

.sidebar-link img {
  filter: invert(64%) sepia(5%) saturate(159%) hue-rotate(145deg) brightness(92%) contrast(91%);
  height: 3rem;
  margin-left: 1rem;
}

.sidebar-link a {
  text-decoration: none;
  color: var(--light-grey);
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 2rem;
}

#right-side {
  background-color: var(--bright-red);
  grid-column: 3/4;
  grid-row: 1/-1;
  box-shadow: 0px 0px 10px 10px var(--bright-red);
  z-index: 999;
}

footer {
  background-color: var(--grey);
  box-shadow: 0px 0px 10px var(--grey);
}