:root {
  --red: #951217;
  --bright-red: #ff3037;
  --grey: #45494d;
  --light-grey: #949899;
  --black: #0f0f0f;
}

body {
  margin: 0px;
  height: 100vh;
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
  color: var(--black);
  display: grid;
  grid-template-columns: minmax(180px, 1fr) 7fr;
  grid-template-rows: 150px 1fr 50px;
}

header {
  font-family: 'Alegreya Sans SC', sans-serif;
  color: white;
  background-color: var(--red);
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 10px var(--grey);
  z-index: 1;
}

h2 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 2em;
  margin-top: 0;
}

h3 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 1.4em;
  margin: 0;
}

hr {
  color: var(--bright-red);
}

#search {
  width: 80%;
  align-self: center;
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

#search-input {
  background-color: var(--black);
  color: white;
  height: 3em;
  padding: 1px 0px;
  border: 5px solid var(--black);
  border-left: 0px;
  border-right: 0px;
  width: 100%;
  outline: none;
  z-index: 1;
}

#search:focus-within {
  filter: drop-shadow(0px 0px 10px white);
}

#search-left {
  display: inline-block;
  background-color: transparent;
  border: 25px solid transparent;
  border-left: 0;
  border-right: 70px solid var(--black);
}

#search-right {
  display: inline-block;
  background-color: transparent;
  border: 25px solid transparent;
  border-right: 0;
  border-left: 70px solid var(--black);
}

#sidebar {
  grid-row: 1/4;
  background-color: var(--black);
  box-shadow: 0px 0px 10px black;
  z-index: 1;
  color: var(--light-grey);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(9, minmax(20px, 60px)) minmax(0, 1fr) minmax(20px, 60px);
  align-items: center;
}

#sidebar>h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: clamp(1.8rem, 1.5vw, 4rem);
  text-align: center;
  padding-top: .25em;

}

.sidebar-link:hover,
.sidebar-link:focus-within {
  background-color: var(--bright-red);
}

.sidebar-link img {
  filter: invert(64%) sepia(5%) saturate(159%) hue-rotate(145deg) brightness(92%) contrast(91%);
  max-height: clamp(1rem, 10vh, 3rem);
  margin-left: 1rem;
}

.sidebar-link:hover img,
.sidebar-link:focus-within img {
  filter: invert(1%) sepia(6%) saturate(10%) hue-rotate(314deg) brightness(93%) contrast(90%);
}

.sidebar-link a {
  text-decoration: none;
  color: var(--light-grey);
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: clamp(1rem, 1.1vw, 3rem);
}

.sidebar-link:hover a,
.sidebar-link:focus-within a {
  color: var(--black);
}

main {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
  padding: 1em;
  overflow: auto;
}

#projects {
  grid-row: span 2;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.card {
  color: white;
  width: 30ch;
  max-height: 40ch;
  background-color: var(--red);
  padding: 1em;
  box-shadow: 0px 3px 10px var(--black);
  scale: 1.0;
  transition: scale 0.1s;
  border-radius: 5px;
}

.card:hover {
  scale: 1.05;
  z-index: 1;
}

.card h3 {
  font-size: 2rem;
  margin: 0;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.card-buttons {
  display: flex;
  height: 2em;
  width: 100%;
}

.card-buttons>img {
  min-width: 0;
}

.card-buttons>img:first-child {
  margin-left: auto;
}

#announcements {
  background-color: var(--light-grey);
  padding: 1em;
  box-shadow: 0px 3px 10px var(--black);
  border-radius: 5px;
}

#news {
  background-color: var(--light-grey);
  padding: 1em;
  box-shadow: 0px 3px 10px var(--black);
  border-radius: 5px;
}

footer {
  background-color: var(--grey);
  box-shadow: 0px 0px 10px var(--grey);
}